// App
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: $blue-dark;
  color: $light-font;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

// Page
.content {
  width: 85%;
  max-width: 950px;
  margin: auto;
}

.padding-top {
  padding-top: 6rem;
}

.padding-bottom {
  padding-bottom: 6rem;
}

.margin {
  &-s {
    &.top {
      margin-top: 1rem;
    }

    &.bottom {
      margin-bottom: 1rem;
    }
  }

  &-m {
    &.top {
      margin-top: 2rem;
    }

    &.bottom {
      margin-bottom: 2rem;
    }
  }

  &-l {
    &.top {
      margin-top: 4rem;
    }

    &.bottom {
      margin-bottom: 4rem;
    }
  }
}

// Headings & text
@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

.heading {
  &.one { @include font(2.5rem, 800) }

  &.two { @include font(2rem, 600) }

  &.three { @include font(1.5rem, 600) }

  &.four { @include font(1.125rem, 600) }

  &.cursive {
    font-family: 'Bangers', 'Montserrat', sans-serif;
    letter-spacing: 0.1875rem;
  }
}

a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

ul {
  list-style: none;
}

// Buttons
button.button {
  @include font(18px, 600);
  padding: 1rem;
  background: $orange;
  border-radius: $border-radius;
}

// Forms
button,
input,
optgroup,
select,
input,
textarea,html input[type="button"],
input[type="reset"],
input[type="submit"],button[disabled],
html input[disabled],button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

// Components
.comic-list-card,
.hero-list-card {
  background: $blue-med;
  border: 0.5rem solid $blue-med;
  border-radius: $border-radius;

  img {
    width: 100%;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  .text {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon {
    width: 10px;
    margin-left: 8px;
  }
}

.comic-card,
.hero-card {
  background: $blue-med;
  border: 0.5rem solid $blue-med;
  border-radius: $border-radius;

  img {
    width: 100%;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .text {
    padding: 0 1rem;
  }

  li {
    &:not(:first-of-type){
      margin-top: 0.5rem;
    }
  }

  span {
    text-transform: capitalize;
  }
}

.attr {
  font-size: 0.875rem;
}

// Tablet
@media only screen and (min-width: 700px) {
  html {
    font-size: 18px;
  }

  // Page
  .padding-top {
    padding-top: 8rem;
  }
  
  .padding-bottom {
    padding-bottom: 8rem;
  }

  // Components
  .list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .comic-list-card,
  .hero-list-card {
    width: 40%;
    max-width: 260px;
    margin: 0.5rem;

    .text {
      min-height: 86px;
    }
  }

  .comic-card,
  .hero-card {
    border: 1rem solid $blue-med;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: auto;
    gap: 1rem;

    img {
      border-radius: $border-radius;
    }

    li {
      &:not(:first-of-type){
        margin-top: 1rem;
      }
    }

    .text {
      padding: 0;
    }

    br {
      display: none;
    }
  }

  .comic-card {
    grid-template-areas: 
    "img creators"
    "desc desc"
    "attr attr";

    .img, .creators, .desc, .attr { margin: 0; }

    .img      { grid-area: img }
    .creators { grid-area: creators; }
    .desc     { grid-area: desc }
    .attr     { grid-area: attr }
  }

  .hero-card {
    grid-template-areas: 
    "img stats"
    "bio bio"
    "attr attr";

    .img, .stats, .bio, .attr { margin: 0; }

    .img   { grid-area: img }
    .stats { grid-area: stats; }
    .bio   { grid-area: bio }
    .attr  { grid-area: attr }
  }
}
